.navbar li.nav-item a {
    font-size: 15px;
}

@media (min-width: 992px) {
    .form-inline .form-control {
        height: 36px;
        width: 140px;
    }
}

.navbar,
.bg-light {
    border-top: 1px solid #e9e9e9;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    font-size: 15px;
}

.dropdown-menu {
    border-radius: 0;
    border-top: 0px;
}

.navbar .social i {
    width: 24px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: transparent;
}

main {
    background-image: url(../imgs/bg-overlay.png);
    background-attachment: fixed;
    background-size: contain;
}

.head {
    background-color: #f0f0f0;
    border-left: 3px solid var(--sec-color);
}


/* Athor guidlines start */

.AG .tab-content {
    border: 1px solid gainsboro;
    border-top: 0px;
    margin-bottom: 20px;
}

.AG .nav-tabs .nav-link.active {
    color: var(--sec-color) !important;
    border-bottom: 2px solid #fff;
    margin-bottom: -1px;
}

.AG .nav-tabs .nav-link {
    color: #000;
}


/* Athor guidlines end */


/* aside  start*/

.volumes {
    background-color: gainsboro;
}

.volumes a {
    color: var(--sec-color);
    font-weight: 500;
}


/* .volumes ul li::before {
    content: "\2022";
    color: var(--sec-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: 20px;
} */

.numbers {
    background-color: gainsboro;
}

.numbers .counter span {
    color: #fff;
    border-radius: 50%;
    background-color: var(--sec-color);
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 30px;
}


/* aside end */


/* =============== */

.effect3 {
    position: relative;
}

.effect3:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}