.navbar li.nav-item a {
    font-size: 15px;
}

@media (min-width: 992px) {
    .form-inline .form-control {
        height: 36px;
        width: 140px;
    }
}

.navbar,
.bg-light {
    border-top: 1px solid #e9e9e9;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    font-size: 15px;
}

.dropdown-menu {
    border-radius: 0;
    border-top: 0px;
}

.navbar .social i {
    width: 24px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: transparent;
}

.head {
    background-color: #f0f0f0;
    border-left: 3px solid var(--sec-color);
    padding: 5px 0;
}


/* Athor guidlines start */

.AG .tab-content {
    border: 1px solid gainsboro;
    border-top: 0px;
    margin-bottom: 20px;
}

.AG .nav-tabs .nav-link.active {
    color: var(--sec-color) !important;
    border-bottom: 2px solid #fff;
    margin-bottom: -1px;
}

.AG .nav-tabs .nav-link {
    color: #000;
    transition: 500ms ease-in-out;
}

.AG .nav-tabs .nav-link:hover {
    color: var(--sec-color);
}


/* Athor guidlines end */


/* Research topics start */

.RT .card {
    margin-bottom: 30px;
    overflow: hidden;
}

.RT .card img {
    height: 250px;
    transition: 500ms;
}

.RT .card:hover img {
    transform: scale(1.1);
}

.RT .btn-primary {
    background-color: var(--sec-color);
    border-color: var(--sec-color);
}


/* Research topics end */


/* articles start */

.articles .tab-content {
    border: 1px solid gainsboro;
    border-top: 0px;
    margin-bottom: 20px;
}

.articles .nav-tabs .nav-link.active {
    color: var(--sec-color) !important;
    border-bottom: 2px solid #fff;
    margin-bottom: -1px;
}

.articles .nav-tabs .nav-link {
    color: #000;
    transition: 500ms ease-in-out;
}

.articles .nav-tabs .nav-link:hover {
    color: var(--sec-color);
}

.articles article .tab-content h5 a {
    color: #000;
    margin-bottom: 10px;
}

.articles article .tab-content p {
    margin-bottom: 0 !important;
}

.articles article .tab-content p a {
    color: var(--sec-color);
    font-style: italic;
}

.articles article .tab-content .views {
    color: var(--sec-color);
    font-weight: 700;
}


/* articles end */


/* resources page start */

.resources .col-md-9 a {
    color: var(--sec-color);
}


/* resources page end */


/* aside  start*/

.volumes {
    background-color: gainsboro;
}

.volumes a {
    color: var(--sec-color);
    font-weight: 500;
}


/* .volumes ul li::before {
    content: "\2022";
    color: var(--sec-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: 20px;
} */

.numbers {
    background-color: gainsboro;
}

.numbers .counter span {
    color: #fff;
    border-radius: 0 5px 0 5px;
    background-color: var(--sec-color);
    min-width: 40px;
    min-height: 40px;
    display: inline-block;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 30px;
}


/* aside end */


/* =============== */